<html>
  <head>
    <title>
	  Online Mobile Shopping
    </title>
     <!-- <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js">
    </script>
    <script>  
    $(function() 
    {
        $( "#calendar" ).datepicker();  
    });
</script> -->
  </head>
	<body background="/home/beryl/Desktop/training_and_learning/project/19-nov/background_3.jpg">
      <form action = "/create_customer_mobile" method = "POST">
        <label>ID:		</label>
		<input  type ="text" placeholder="Your id is:" disabled> <br><br>
	  <label>MOBILE-ID:		</label>
		<input  type ="text" name ="mobile_id "> <br><br>					
		  <label>SELLER ID			</label><input type = "text" name="seller_id"><br><br>
		  <label>BUYER-ID:		</label><input type ="text" name="buyer_id"><br><br>
		  <label>PAYMENT-ID:			</label><input type = "text" name="payment_id"><br><br><br><br><br>
		  <input class ="back" type = "submit" value ="Back"></input>
		  <input type = "submit" value ="Add Details"></input>
	  </form>
  </body>
</html>