<html>
  <head>
    <title>
	  Online Mobile Shopping
    </title>
  </head>
	<body background="/home/beryl/Desktop/training_and_learning/project/19-nov/background_3.jpg">
      <form action = "/create_brand" method = "POST">
	  <label>Brand id:		</label>
		<input  type ="text" placeholder="Brand id is:" disabled> <br><br>					
		  <label>Brand Name:			</label><input name = "name" type = "text"><br><br>
		  <label>Head-Location:		</label><input name = "head_office" type = "text"><br><br>
		  <input class ="back" type = "submit" value ="Back"></input>
		  <input type = "submit" value ="Add Brand"></input>
	  </form>
  </body>
</html>