<html>
  <head>
    <title>
	  Online Mobile Shopping
    </title>
    </head>
	<body background="/home/beryl/Desktop/training_and_learning/project/19-nov/background_3.jpg">
      <form action = "/create_invoice" method = "POST">
	  <label>PAYMENT-ID:		</label>
		<input type ="text" placeholder="Your buyer id is:" disabled> <br><br>					
		  <label>Payment mode:			</label><input name = "payment_mode" type = "text"><br><br>
		  <label>Payment details:		</label><input name = "payment_details" type = "text"><br><br>
		  <label>Price:			</label><input name = "price" type = "text"><br><br>
		 
		  <input type = "submit" value ="Back"></input>
		  <input type = "submit" value ="Add Payment"></input>
	  </form>
  </body>
</html>