<html>
  <head>
    <title>
	  Online Mobile Shopping
    </title>
    </head>
	<body background="/home/beryl/Desktop/training_and_learning/project/19-nov/background_3.jpg">
      <form action = "/create_seller" method = "POST">
	  <label>SELLER-ID:		</label>
		<input type ="text" placeholder="Your seller id is:" disabled> <br><br>					
		  <label>Name:			</label><input name = "name" type = "text"><br><br>	 
		  <input type = "submit" value ="Back"></input>
		  <input type = "submit" value ="Add Buyer"></input>
	  </form>
  </body>
</html>